@import "tailwindcss";

.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.animate-marquee {
  display: inline-block;
  animation: marquee 140s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(14%);
  }
  100% {
    transform: translateX(-100%);
  }
}
